{% extends "generic_views/base.html" %}
{% load generic_views_tags %}
{% load render_paginator %}
{% load staticfiles %}
{% block head_extra %}

<link rel="stylesheet" href="{% static 'ace_admin/assets/css/bootstrap-editable.css' %}" />
<link rel="stylesheet" href="{% static 'relaciones/at.js/css/jquery.atwho.css' %}" />
{% endblock %}
{% block page-content %}
<div class="row">
	{% if aportante %}
	{% include "cobranzas/movimientos_list.html" with label=aportante.full_name movimientos=aportante.get_movimientos invertir=False add_url='cobranzas:cobro-add' permissions=perms.cobranzas.add_aportante %}
	{% else %}
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">
			<i class="ace-icon fa fa-times"></i>
		</button>

		<strong>
			<i class="ace-icon fa fa-times"></i>
			Maldición!
		</strong>

		El administrador todavía no te ha creado la cuenta corriente
		<br>
	</div>
	{% endif %}
</div>
<div class="modal fade in" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" success="">
	<div class="modal-dialog">
		<div class="modal-content">
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}