{%load contable_extras %}
{%load cobranzas_extras %}
<html lang="en">
	<head>
		
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
	<style type="text/css">


.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}
th, td, .table-bordered {
    border-radius: 0 !important;
}
td, th {
    padding: 0;
}
.widget-header > .widget-title {
    line-height: 36px;
    padding: 0;
    margin: 0;
    display: inline;
}
h4.smaller {
    font-size: 17px;
}
h4 {
    font-size: 18px;
    font-weight: normal;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h4, .h4 {
    font-size: 18px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.pull-right {
    float: right;
}
.pull-right {
    float: right !important;
}

.widget-header {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    min-height: 38px;
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
    color: #669fc7;
    border-bottom: 1px solid #DDD;
    padding-left: 12px;
}
.tab-content > .active {
    display: block;
    visibility: visible;
}
.tab-content > .tab-pane {
    display: none;
    visibility: hidden;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.widget-body .table {
    border-top: 1px solid #E5E5E5;
}
th, td, .table-bordered {
    border-radius: 0 !important;
}
.table-bordered {
    border: 1px solid #dddddd;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.tab-content > .active {
    display: block;
    visibility: visible;
}
.tab-content > .tab-pane {
    display: none;
    visibility: hidden;
}

	</style>

	</head>
	
	<body class="no-skin">
		<p>Se ha registrado el cobro de tu aporte voluntario por $ {{monto|format_dinero}}</p>
        <p>{{descripcion}}</p>
        <p>Tu saldo actual es de: $ {{aportante.get_saldo.resultado|format_dinero}}
        {% if aportante.get_saldo.resultado < 0 %}
            a favor
        {% elif  aportante.get_saldo.resultado > 0 %}
            de deuda
        {% endif %}
        </p>

        <p>Podés revisar tus aportes ingresando a: <a href="{{protocol}}://{{ domain }}">{{protocol}}://{{domain }}</a>
	</body>
</html>