{%load contable_extras %}
{%load cobranzas_extras %}
<div  class="col-lg-6">
	<div class="widget-box" >
		<div class="widget-header">
			<h4 class="widget-title smaller">
			{{label}}
			</h4>
			{% if add_url and permissions != False %}
			<div class="widget-toolbar">
				<a href="{% url add_url %}" data-toggle="modal" data-target="#modal">
					<i class="ace-icon fa fa-plus"></i>
				</a>
			</div>
			{% endif %}
		</div>
		<div class="widget-body">
			<table id="simple-table" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>Reg#</th>
						<th>Fecha</th>
						<th>Cuenta</th>
						<th>Concepto</th>
						<th>Monto</th>
					</tr>
				</thead>
				<tbody>
					{% for movi in movimientos %}
					<tr>
						<td>
						<span class="pull-right">
							{% if perms.contable.change_asiento %}
							<a href="{% url 'contable:libro-diario:list' movi.asiento.ejercicio.pk %}?id={{movi.asiento.id}}">
							{% endif %}
							{{movi.asiento.numero}}
							{% if perms.contable.change_asiento %}
							</a>
							{% endif %}
						</span>
						</td>
						<td>{{movi.asiento.imputacion}}</td>
						<td>{{movi.cuenta.nombre}}</td>
						<td>{{movi.asiento.descripcion}}</td>
						<td>
						<span class="pull-right" {% if movi.saldo.resultado|invert:invertir < 0 %}style="color:#F00"{%endif%}>{{movi.saldo.resultado|invert:invertir|format_dinero}}</span>
						</td>
					</tr>
					{%endfor%}
					
				</tbody>
				<tfoot>
				<tr>
					<th colspan="4"><span class="pull-right">Total</span></th>
					<th>
					{% with movimientos|sum  as suma%}
						<span class="pull-right" {% if suma.resultado|invert:invertir < 0 %}style="color:#F00"{%endif%}>
							
							{{ suma.resultado|invert:invertir|format_dinero}}
							
						</span>
					{% endwith %}
					</th>
				</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>