{%load contable_extras %}
{%load cobranzas_extras %}
<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>Fecha</th><th>Nombre</th><th>Concepto</th><th>Monto</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th colspan="3"><span class="pull-right">Total</span></th>
			<th>
				<span class="pull-right">
					{% with movimientos|sum  as suma%}
					{{ suma.resultado|invert:invertir|format_dinero}}
					{% endwith %}
				</span>
			</th>
		</tr>
		{% for ra in movimientos %}
		<tr>
			<td>{{ra.asiento.imputacion}}</td>
			<td>{{ra.cuenta.nombre}}</td>
			<td>
				{{ra.asiento.descripcion}}
			</td>
			<td>
				<span class="pull-right">{{ra.saldo.resultado|invert:invertir|format_dinero}}</span>
			</td>
		</tr>
		{% endfor %}
		</tbody>
		<tfoot>
		<tr>
			<th colspan="3"><span class="pull-right">Total</span></th>
			<th>
				<span class="pull-right">
					{% with movimientos|sum  as suma%}
					{{ suma.resultado|invert:invertir|format_dinero}}
					{% endwith %}
				</span>
			</th>
		</tr>
		</tfoot>
</table>