<html>
	<head>
		<meta charset="utf-8" />
	</head>
	<body>

		<h1>Nuevo usuario</h1>
		<p>
			Un administrador del sitio a creado una cuenta 
		</p>
		<p> Tu usuario es: <big><strong>{{ user.get_username }}</strong></big> <small>¡NO LO OLVIDES!</small>
		</p>
		<p>
			Para ingresar deberás establecer tu contraseña desde el siguiente link:
		</p>
		<p>
			<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
		</p>
		<p>
			¡Suerte!
		</p>
	</body>
</html>