{% extends "generic_views/base.html" %}
{% load generic_views_tags %}
{% load render_paginator %}
{% load staticfiles %}
{% load contable_extras %}
{% block head_extra %}
<link rel="stylesheet" href="{% static 'ace_admin/assets/css/bootstrap-editable.css' %}" />
<link rel="stylesheet" href="{% static 'relaciones/at.js/css/jquery.atwho.css' %}" />
<script src="{% static 'generic_views/bootstrap-treeview-master/js/bootstrap-treeview.js' %}"></script>
<script src="{% static 'generic_views/tree_view_config.js' %}"></script>
{% endblock %}
{% block page-content %}
<div class="row">
	<div class="col-lg-6">
		<div class="widget-box" >
			<div class="widget-header">
				<h4 class="widget-title smaller">
				Aportantes
				<small>Lista</small>
				</h4>
				{% if perms.cobranzas.change_aportante %}
				<div class="widget-toolbar">
					<a href="{% url 'cobranzas:aportantes:create' %}" data-toggle="modal" data-target="#modal">
						<i class="ace-icon fa fa-plus"></i>
					</a>
				</div>
				{% endif %}
			</div>
			
			<div class="widget-body">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th><a href="?order=apellidos">Apellido</a></th>
							<th><a href="?order=nombres">Nombre</a></th>
							<th><a href="?order=aporte">Aporte Mensual</a></th>
							<th><a href="?order=deuda">Deuda</a></th>
							{% if perms.cobranzas.change_aportante %}
							<th></th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for c in aportantes %}
						<tr>
							<td>{{c.apellidos}}</td>
							<td>{{c.nombres}}</td>
							<td><span class="pull-right">{{c.compromiso}}</span></td>
							<td>
								<span style="{% if c.saldo > 0 %}color:#F00;{% elif c.saldo < 0%}color:#4cae4c;{%endif%}" class="pull-right">{{c.saldo|format_dinero}}</span>
							</td>
							{% if perms.cobranzas.change_aportante %}
							<td>
								<div class="btn-group">
									<button data-toggle="dropdown" class="btn btn-success btn-minier dropdown-toggle">
									<span class="ace-icon fa fa-caret-down icon-only"></span>
									</button>
									<ul class="dropdown-menu dropdown-menu-right">
										<li>
											<a href="{% url 'cobranzas:cobro-add' %}?periodo={{c.last_movimiento.periodo.next.pk}}&aportante={{c.pk}}" data-toggle="modal" data-target="#modal" title="registrar cobro">Registrar Cobro</a>
										</li>
										<li>
											<a href="/cobranzas/aportantes/update/{{c.pk}}/" class="pull-right" data-toggle="modal" data-target="#modal" title="cambiar">Cambiar Aporte Mensual</a>
										</li>
										<li>
											<a href="{%url 'cobranzas:aportante-show' c.id %}">Ver Historial</a>
										</li>
									</ul>
								</div>
							</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th colspan="2"><span class="pull-right">Totales:</span></th>
							<th>
								<span class="pull-right">
									{{ total_compromisos|format_dinero}}
								</span>
							</th>
							<th>
								<span style="{% if total_deuda > 0 %}color:#F00;{% elif total_deuda < 0%}color:#4cae4c;{%endif%}" class="pull-right">
									{{ total_deuda|format_dinero}}
								</span>
							</th>
							{% if perms.cobranzas.change_aportante %}
							<th></th>
							{% endif %}
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	{% include "cobranzas/movimientos_list.html" with label="Útimos Gastos" movimientos=gastos add_url='cobranzas:gasto-add' invertir=False permissions=perms.cobranzas.change_aportante %}
	{% include "cobranzas/movimientos_list.html" with label="Útimos Cobros" movimientos=movimientos add_url='cobranzas:cobro-add' invertir=True permissions=perms.cobranzas.change_aportante %}
	{% url 'contable:plan-de-cuentas:create' ejercicio.id as add_url  %}
	{% include "cobranzas/saldos_list.html" with label="Saldos" cuentas=saldos add_url=add_url permissions=perms.contable.add_asiento %}
</div>
<div class="modal fade in" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" success="">
	<div class="modal-dialog">
		<div class="modal-content">
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}