{% extends "generic_views/base.html" %}
{% load generic_views_tags %}
{% load render_paginator %}
{% load contable_extras %}
{% load staticfiles %}
{% block head_extra %}

	
	<link rel="stylesheet" href="{% static 'ace_admin/assets/css/bootstrap-editable.css' %}" />
	<link rel="stylesheet" href="{% static 'relaciones/at.js/css/jquery.atwho.css' %}" />


	<script src="{% static 'generic_views/bootstrap-treeview-master/js/bootstrap-treeview.js' %}"></script>
	<script src="{% static 'generic_views/tree_view_config.js' %}"></script>	

	
{% endblock %}
{% block page-content %}
<div class="row">
	<div class="col-lg-12">
		<!-- #section:elements.tab.option -->
		<div class="tabbable">
			<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
				{%for p in periodos %}
				<li>
					<a data-toggle="tab" href="#periodo_{{p.pk}}" aria-expanded="true">{{p.get_mes_display}} {{p.ano}}</a>
				</li>
				{% endfor%}
				<li>
					<a href="{% url 'cobranzas:abrir-periodo' %}" data-toggle="modal" data-target="#modal">
						<i class="fa fa-plus"></i>
					</a>
				</li>
			</ul>
			
			<div class="tab-content">
				{%for p in periodos %}
				<div id="periodo_{{p.pk}}" class="tab-pane">
					<div class="row">
						<div class="col-lg-6">
							<h4>Ingresos Cuotas</h4>
							{% include "cobranzas/movimientos_table.html" with movimientos=p.get_movimientos_ingresos invertir=True %}
						</div>
						<div class="col-lg-6">
						<h4>Gastos</h4>
							{% include "cobranzas/movimientos_table.html" with movimientos=p.get_movimientos_gastos invertir=False %}
						</div>
							{% with p.last_day|date:"d \d\e M Y" as last_day %}
							{% include "cobranzas/saldos_list.html" with label="Saldos al: "|add:last_day cuentas=p.get_saldo_disponibilidades %}
							{% endwith %}
							{% with p.last_day|date:"d \d\e M Y" as last_day %}
							{% include "cobranzas/saldos_list.html" with label="Otros Activos al: "|add:last_day cuentas=p.get_otros_activos %}
							{% endwith %}
					</div>
				</div>
				{% endfor%}
			</div>
		</div>

		<!-- /section:elements.tab.option -->
	</div>

</div>
	
<div class="modal fade in" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" success="">
  <div class="modal-dialog">
	<div class="modal-content">
	</div>
  </div>
</div>
{% endblock %}
	{% block javascript %}


	{% endblock %}

