<div  class="col-lg-6">
	<div class="widget-box" >
		<div class="widget-header">
			<h4 class="widget-title smaller">
			{{label}}
			</h4>
			{% if add_url and permissions != False %}
			<div class="widget-toolbar">
				<a href="{{add_url}}" data-toggle="modal" data-target="#modal">
					<i class="ace-icon fa fa-plus"></i>
				</a>
			</div>
			{% endif %}
		</div>
		<div class="widget-body">
			{% include "contable/plan_de_cuentas_table.html" with cuentas=cuentas %}
		</div>
	</div>
</div>